body {
	margin: 0;
	padding: 0;
	background: #f9f9f9;
}

.clearfix{
	clear: both;
}
.box {
	background: white;
	width: 1050px;
	height: 100%;
	margin: 0 auto;
	border-right: 1px black;
	border-left: 1px black;
	padding: 0 45px 0 45px;
}

.logo {
	margin-top: 50px;
	display: inline-block;
	margin-bottom: 40px;
}

.main-nav {
	height: 40px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -moz-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -o-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -ms-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: linear-gradient(to top, #444343, #5e5e5e);
}

.main-nav li {
	margin: 0;
	padding: 0 45px 0 0;
	height: 40px;
	list-style: none;
} 

.main-nav li {
	display: inline-block;
	line-height: 40px;
}

.main-nav li a {
	color: white;
	text-decoration: none;
}

.main-nav li  a.active {	
	padding: 10px 20px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -moz-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -o-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -ms-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: linear-gradient(to top, #2e2e2e, #4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.sidelist {
	margin: 0;
	list-style: none;
	padding: 0;
	border: 1px solid #c8c8c8;

}

.sidelist li {
	padding: 15px 0 10px 20px;
	border-bottom: 1px solid #c8c8c8;
}

.sidelist li a{
	text-decoration: none;
	color: #7a7878;
}

.sidelist li.active {
	background-color: #f9f9f9;
}

.sidelist :last-child {
	border-bottom: 0;
}

.sidebar {
	margin-top: 24px;
	float:left;
	width: 245px;
}

.velik {
	border: 1px solid #c8c8c8;
	padding: 85px;
	margin-bottom: 40px;

}

.right-side {
	margin-top: 24px;
	float: right;
	width: 680px;
	margin-bottom: 40px;
}

.footer-list li:not(.act) {
	display: inline-block;
	line-height: 40px;
	padding: 0 90px 0 0;
}

.act {
	padding-top: 10px;
	padding-right: 20px;
	list-style: none;
}

.footer-list a {
	text-decoration: none;
}

.footer-list {
	background-color: #e1e1e1;

}

.footer-list li:nth-child(2) a {
	text-decoration: underline;
}
.act {
	float: right;
}

